<h2 mat-dialog-title>Добавление книги</h2>
<mat-dialog-content class="content">
    <mat-form-field>
        <mat-label>Наименование</mat-label>
        <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Описание</mat-label>
        <textarea matInput placeholder="" [(ngModel)]="description"></textarea>
    </mat-form-field>
    <mat-form-field>

        <div class="myfilebrowser">

            <mat-toolbar>

                <!-- Readonly Input to show File names -->
                <input matInput [(ngModel)]="myfilename" readonly name="memberContactNo" />

                <!-- Browse Button -->
                <button mat-flat-button color="primary">
                    Загрузить
                </button>

            </mat-toolbar>

            <!-- Fetch selected filed on change -->
            <input type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent($event)" name="fileUpload"
                multiple="multiple" accept="image/*" />

        </div>

    </mat-form-field>
    <button matButton="filled" (click)="sendData()">Добавить</button>
</mat-dialog-content>